html,
body {
  margin: 0;
  height: 100%;
  background: #0b0f16;
  color: #cbd5e1;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 10px;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#viewport {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app-sidebar {
  width: 500px;
  max-height: 100%;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  z-index: 6;
}
